
  <ion-content class="bg-image no-scroll" padding>
    <!-- <ion-img src="./../../assets/img/logo.png"></ion-img> -->
    <ion-img src="./../../assets/img/logo.png" class="img" style="border-radius: 15px;"></ion-img>
    
    <!-- button -->
    
    <ion-button class="btn" (click)="navigateToPagee()">S’inscrire</ion-button>
   
    <ion-button class="btn1" color="light" (click)="navigateToPage()">connexion</ion-button>
    <!-- <button ion-button color="light">Light</button> -->
    
  
    <ion-button fill="clear" color="light" class="sauter" (click)="navigateToPageee()">Sauter</ion-button>
    
  </ion-content>
  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-title>@2022 Youssouf Djiré</ion-title>
    </ion-toolbar>
  </ion-footer> 

    
    

